extends layout
block content
	center
		p Хей, вводи свою тему и чутка подожди, пока мы подберем кое-что для тебя

		form(action='/search' method='get')
			input(type='text' placeholder='your topic' name='topic' autofocus autocomplete='off')
			button(type=submit)
				i(class='fa fa-search')			
			br

			input(type='radio' name='lng' value='ru' checked)
			|ru
			input(type='radio' name='lng' value='en')
			|en