extends layout
block content
	a(href='/home') 
		i(class='fa fa-home')
	center
		p= text
			i(class='fa fa-heart')
		
		form(action='/essay' method='get')
			- for (let title in array)
				input(type='submit' value='#{array[title]}' name='name')= array[title]
				br
			div.hidden
				- if (lng == 'ru')
					input(type='radio' name='lng' value='ru' checked)
				- else
					input(type='radio' name='lng' value='en' checked)